<app-menu></app-menu>
<div class="container">
  <form [formGroup]="profileForm" (ngSubmit)="sendEmail($event)">
    <div class="row">
      <div class="col-4">
        <div class="form-group ">
          <label for="inputEmail4">Nome do beneficiário</label>
          <input type="email" formControlName="beneficiario" class="form-control" placeholder="Nome">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label for="inputPassword4">Email</label>
          <input type="password" formControlName="email" class="form-control" placeholder="Email">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label for="inputPassword4">Telefone</label>
          <input type="password" formControlName="telefone" class="form-control" placeholder="Telefone">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="inputAddress">Cep</label>
          <input type="text" formControlName="cep" class="form-control" placeholder="Cep" (change)="fillAddress()">
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="inputAddress">Endereço</label>
          <input type="text" formControlName="endereco" class="form-control" placeholder="Enderreço">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label for="inputAddress2">Numero</label>
          <input type="text" formControlName="numero" class="form-control" placeholder="numero">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label for="inputAddress2">Complemento</label>
          <input type="text" formControlName="complemento" class="form-control" placeholder="complemento">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label for="inputAddress2">Bairro</label>
          <input type="text" formControlName="bairro" class="form-control" placeholder="bairro">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
         <label for="inputAddres2">Cidade</label>
         <input type="text" formControlName="cidade" class="form-control" placeholder="cidade">
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="inputAdrres2">Estado</label>
          <input type="text" formControlName="estado" class="form-control" placeholder="estado">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12">
        <label for="inputZip">Campo de mensagem</label>
        <input type="text" formControlName="campo" class="form-control" id="inputZip">
      </div>
    </div>
    <button type="submit" class="btn" [disabled]="!profileForm.valid">Enviar formulário</button>
  </form>
</div>
<app-footer></app-footer>
